body{
    margin: 8px;
}

button{
    text-decoration: none;
    border: none;

}

button:hover{
    animation: 1s ease-in-out;
    filter: drop-shadow(rgb(0, 0, 0) 0.2rem 0.2rem 0.2rem);
}

/* button:enabled{
    border: 2px solid black;
    border-radius: 5px;
} */

.container{
    width: 50vw;
    height :50vh;
    margin: 0 auto;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    gap: 10px;
    display:flex;
    flex-direction: column;
}
.container .border{
    filter: drop-shadow(rgb(0, 0, 0) 0.2rem 0.2rem 0.2rem);
}
.header{
    margin: 0.5rem 0;
    display: flex;
    gap: 5px;
}   
.text_user_class{
    /* font-weight: bold; */
}
